body {
    background-color: #766fd4;
    font-family: cursive;
}

.titulo {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 100%;

}

.btn_menu {
    background-color: #67ce92bd;
    color: white;
    padding: 15px;
}

.btn_menu a {
    color: white;
    text-decoration: none;
}

.menu {

    list-style: none;
    padding: 10px;
    display: none;
    flex-direction: column;
}

.menu li a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 5px;
}

ul.menu.show {
    display: flex;
}

.menu li:hover {
    background-color: aquamarine;
}

.biblioteca {
    width: 100%;
}


th {
    background-color: #67ce92bd;
    color: rgb(223, 238, 232);
}

tbody {
    color: rgb(223, 238, 232);
}


table,
td,
tr {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}


.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    display: grid;
    grid-template-areas:
        "nombre"
        "apellido"
        "mail"
        "captcha"
        "ingresarCaptcha";
}




@media only screen and (min-width: 600px) {

    .logo {
        width: 20%;

    }

    .btn_menu {
        display: none;
    }

    .menu {
        background-color: #67ce92bd;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }


}